ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#nav {
float: left;
list-style-type: none;
}


li a {
  display: block;
  padding: 8px;
    background-color: lightblue;
    
  float: left;
  
list-style-type: none;
color: navy;


  
}



body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;  
  }

  p {   
    color: rgb(17, 15, 124);
  }
  
        