<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="css/Style.css">
<html>

<head>  
  <header>
    <title>Table</title>
    <script src="https://unpkg.com/vue@next"></script>
    </header>
</head>
<nav class="navbar navbar-expand-lg navbar-light ">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
      <li class="nav-item"><a class="navbar-brand" href="index.html" >Home</a></li>
      <li class="nav-item"><a class="navbar-brand" href="HTMLFakeProfile.html" >UserInfo</a></li>
      <li class="nav-item"><a  class="navbar-brand" href="HTMLTable.html" >Table</a></li>
      
    </ul>
  </nav>
<body>
    <h1 class="align">Table</h1>
    <a target="_blank" href="img/books.jpg">
        <img src="img/books.jpg" width="200" height="90" alt="Adrian harper">
        <P>Source: https://indianexpress.com/article/lifestyle/books/lockdown-must-reading-books-titles-6358013/</P>
        </a> 
    <div id="bookapp">
    <table class="table">
        <thead>
          
            <tr>
            <p class="text-dark">Book Information</p>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Publisher</th>
            <th scope="col">Year Published</th>
            
            <th scope="col">Page Count</th>
            <th scope="col">MSRP</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for = "b in books"> 
            <td>{{b.id}}</td>
            <td>{{b.title}}</td>
            <td>{{b.author}}</td>
            <td>{{b.publisher}}</td>
            <td>{{b.year}}</td>
            <td>{{b.page}}</td>
            <td>{{b.msrp}}</td>
            <td><button type="button" class="btn btn-secondary btn-sm"   
              v-on:click="selectBook(b)">Edit</button>
            
              <button type="button" class="btn btn-secondary btn-sm"  v-on:click="postDeleteBook(b)">Delete</button></td>
          </tr>
          
           
        </tbody>
      </table>
      <form v-on:submit.prevent="postBook">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" v-model="bookForm.title"
           class="form-control" id="title">
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input type="text" v-model="bookForm.author" class="form-control" id="author">
        </div>
        <div class="mb-3">
          <label for="publisher" class="form-label">Publisher</label>
          <input type="textr" v-model="bookForm.publisher" class="form-control" id="publisher">
        </div>
        <div class="mb-3">
          <label for="year" class="form-label">Year Published</label>
          <input type="number" v-model="bookForm.year" class="form-control" id="year">
        </div>
        <div class="mb-3">
          <label for="page" class="form-label">Page Count</label>
          <input type="number" v-model="bookForm.page" class="form-control" id="page">
        </div>
        <div class="mb-3">
          <label for="msrp" class="form-label">MSRP</label>
          <input type="text" v-model="bookForm.msrp" class="form-control" id="msrp">
        </div>
        <button type="submit" class="btn btn-primary">{{selectedBook === null ? "Add": "Edit"}} Book</button>
              <button type="button" class="btn btn-outline-secondary" v-if="selectedBook" v-on:click="handleResetBook">Cancel Edit</button>
      </form>
    </div>

        // The form code was taken from w3Schools
        //https://www.w3schools.com/html/html_tables.asp

    
    
    <!-- //input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; -->
</body>
<!-- -->Tablesort plugin: http://tristen.ca/tablesort/demo/ 
<script src="js/index.js"></script>

<script>
 // new Tablesort(document.getElementById('Tablesort'));
</script>
</html>