<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="css/Style.css">
<html>

<head>  
  <header>
    <title>Table</title>
    <script src="https://unpkg.com/vue@next"></script>
    </header>
</head>
<nav class="navbar navbar-expand-lg navbar-light ">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
      <li class="nav-item"><a class="navbar-brand" href="index.html" >Home</a></li>
      <li class="nav-item"><a class="navbar-brand" href="HTMLFakeProfile.html" >UserInfo</a></li>
      <li class="nav-item"><a  class="navbar-brand" href="HTMLTable.html" >Table</a></li>
      
    </ul>
  </nav>
<body>
    <h1 class="align">Table</h1>
    <a target="_blank" href="img/books.jpg">
        <img src="img/books.jpg" width="200" height="90" alt="Adrian harper">
        <P>Source: https://indianexpress.com/article/lifestyle/books/lockdown-must-reading-books-titles-6358013/</P>
        </a> 
    <div id="bookapp">
    <table id="Tablesort" class="table">
        <thead>
          
            <tr>
            <p class="text-dark">Book Information</p>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Publisher</th>
            <th scope="col">Year Published</th>
            
            <th scope="col">Page Count</th>
            <th scope="col">MSRP</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for = "b in books"> 
            <td>{{b.id}}</td>
            <td>{{b.title}}</td>
            <td>{{b.author}}</td>
            <td>{{b.publisher}}</td>
            <td>{{b.year}}</td>
            <td>{{b.page}}</td>
            <td>{{b.msrp}}</td>
          </tr>
          <!-- <tr>
            <th scope="row">1</th>
            <td>Between Two Kingdoms: A Memoir of a Life Interrupted</td>
            <td>Suleika Jaouad</td>
            <td>Random House</td>
            <td>2021</td>
            <td>368</td>
            <td>$22.49</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Canary in the Coal Mine: A Forgotten Rural Community, a Hidden Epidemic, and a Lone Doctor Battling for the Life, Health, and Soul of the People</td>
            <td>Dr. William Cooke</td>
            <td>Tyndale Refresh</td>
            <td>2021</td>
            <td>308</td>
            <td>$13.99</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Left of Boom: How a Young CIA Case Officer Penetrated the Taliban and Al-Qaeda</td>
            <td>Douglas Laux</td>
            <td>St. Martin's Press</td>
            <td>2016</td>
            <td>318</td>
            <td>$10.99</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Last Dance: And a Loving Mother Paperback</td>
            <td>Stephen Manning</td>
            <td>Tyndale Refresh</td>
            <td>2020</td>
            <td>277</td>
            <td>$14.66</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Breaking Cover: My Secret Life in the CIA and What It Taught Me about What's Worth Fighting For</td>
            <td>Michele Rigby Assad</td>
            <td>Tyndale Momentum</td>
            <td>2018</td>
            <td>254</td>
            <td>$8.99</td>
          </tr> -->
           
        </tbody>
      </table>
      <form v-on:submit.prevent="postNewBook">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" v-model="bookForm.title"
           class="form-control" id="title">
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input type="text" v-model="bookForm.author" class="form-control" id="author">
        </div>
        <div class="mb-3">
          <label for="publisher" class="form-label">Publisher</label>
          <input type="textr" v-model="bookForm.publisher" class="form-control" id="publisher">
        </div>
        <div class="mb-3">
          <label for="year" class="form-label">Year Published</label>
          <input type="number" v-model="bookForm.year" class="form-control" id="year">
        </div>
        <div class="mb-3">
          <label for="page" class="form-label">Page Count</label>
          <input type="number" v-model="bookForm.page" class="form-control" id="page">
        </div>
        <div class="mb-3">
          <label for="msrp" class="form-label">MSRP</label>
          <input type="text" v-model="bookForm.msrp" class="form-control" id="msrp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

        // The form code was taken from w3Schools
        //https://www.w3schools.com/html/html_tables.asp

    
    
    <!-- //input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; -->
</body>
<!-- -->Tablesort plugin: http://tristen.ca/tablesort/demo/ 
<script src="js/index.js"></script>

<script>
 // new Tablesort(document.getElementById('Tablesort'));
</script>
</html>